@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body{
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background: linear-gradient(135deg, #86E3CE , #D0E6A5);
}

::selection {
    color: #fff;
    background: #3C87FF;
}

.wrapper {
    max-width: 405px;
    padding: 25px;
    margin: 137px auto;
    background: #fff;
    border-radius: 7px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.1);
}

.wrapper header {
    font-size: 30px;
    font-weight: 600;
}

.wrapper .input-field {
    display: flex;
    height: 45px;
    width: 100%;
    margin: 20px  0;
}

.input-field input {
    outline: none;
    width: 85%;
    height: 100%;
    border: 1px solid #000;;
    font-size: 17px;
    border-radius: 3px;
    padding-left: 15px;
    border-radius: 12px;
}

.input-field button {
    width: 60px;
    height: 100%;
    border: none;
    outline: none;
    background: #84d1bf;
    color: #fff;
    font-size: 22px;
    cursor: pointer;
    border-radius: 12px;
    margin-left: 6px;
}

.wrapper .todo-list {
    position: relative;
    max-height: 250px;
    overflow-y: auto;
}

.todo-list li {
    list-style: none;
    position: relative;
    height: 45px;
    line-height: 45px;
    background: #f2f2f2;
    border-radius: 12px;
    margin-bottom: 8px;
    padding: 0 15px;
    overflow: hidden;
}

.todo-list li span {
    position: absolute;
    right: -35px;
    background: #eb6c5e;
    color: #fff;
    width: 45px;
    text-align: center;
    border-radius: 0 12px 12px 0;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.todo-list li:hover span {
    right: 0;
}

.wrapper .footer {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 25px;
    align-items: center;
}

.wrapper .footer button {
    border: none;
    outline: none;
    background: #84d1bf;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    border-radius: 12px;
    padding: 6px 10px;
}